./.idea
.DS_Store
.htaccess
administrator/backups/index.html
administrator/cache/*
administrator/components/com_admin/*
administrator/components/com_akeeba/*
administrator/components/com_banners/*
administrator/components/com_cache/*
administrator/components/com_ajax/*
administrator/components/com_contenthistory/*
administrator/components/com_categories/*
administrator/components/com_checkin/*
administrator/components/com_config/*
administrator/components/com_contact/*
administrator/components/com_content/*
administrator/components/com_postinstall/*
administrator/components/com_cpanel/*
administrator/components/com_finder/*
administrator/components/com_frontpage/*
administrator/components/com_installer/*
administrator/components/com_joomlaupdate/*
administrator/components/com_languages/*
administrator/components/com_login/*
administrator/components/com_massmail/*
administrator/components/com_media/*
administrator/components/com_menus/*
administrator/components/com_messages/*
administrator/components/com_modules/*
administrator/components/com_newsfeeds/*
administrator/components/com_plugins/*
administrator/components/com_poll/*
administrator/components/com_redirect/*
administrator/components/com_search/*
administrator/components/com_sections/*
administrator/components/com_tags/*
administrator/components/com_templates/*
administrator/components/com_trash/*
administrator/components/com_users/*
administrator/components/com_weblinks/*
administrator/components/index.html
administrator/help/*
administrator/images/*
administrator/includes/*
administrator/index.php
administrator/index3.php
administrator/components/com_conference/language/*/index.html
administrator/components/com_conference/language/en-GB/en-GB.ini
administrator/components/com_conference/language/nl-NL/nl-NL.ini
administrator/components/com_conference/language/*/*.localise.php
administrator/components/com_conference/language/*/*.com_admin.*
administrator/components/com_conference/language/*/*.com_banners.*
administrator/components/com_conference/language/*/*.com_cache.*
administrator/components/com_conference/language/*/*.com_categories.*
administrator/components/com_conference/language/*/*.com_checkin.*
administrator/components/com_conference/language/*/*.com_config.*
administrator/components/com_conference/language/*/*.com_ajax.*
administrator/components/com_conference/language/*/*.com_config.*
administrator/components/com_conference/language/*/*.com_contenthistory.*
administrator/components/com_conference/language/*/*.com_postinstall.*
administrator/components/com_conference/language/*/*.com_contact.*
administrator/components/com_conference/language/*/*.com_content.*
administrator/components/com_conference/language/*/*.com_cpanel.*
administrator/components/com_conference/language/*/*.com_finder.*
administrator/components/com_conference/language/*/*.com_installer.*
administrator/components/com_conference/language/*/*.com_joomlaupdate.*
administrator/components/com_conference/language/*/*.com_languages.*
administrator/components/com_conference/language/*/*.com_login.*
administrator/components/com_conference/language/*/*.com_mailto.*
administrator/components/com_conference/language/*/*.com_media.*
administrator/components/com_conference/language/*/*.com_menus.*
administrator/components/com_conference/language/*/*.com_messages.*
administrator/components/com_conference/language/*/*.com_modules.*
administrator/components/com_conference/language/*/*.com_newsfeeds.*
administrator/components/com_conference/language/*/*.com_plugins.*
administrator/components/com_conference/language/*/*.com_redirect.*
administrator/components/com_conference/language/*/*.com_search.*
administrator/components/com_conference/language/*/*.com_tags.*
administrator/components/com_conference/language/*/*.com_templates.*
administrator/components/com_conference/language/*/*.com_users.*
administrator/components/com_conference/language/*/*.com_weblinks.*
administrator/components/com_conference/language/*/*.com_wrapper.*
administrator/components/com_conference/language/*/*.lib_joomla.*
administrator/components/com_conference/language/*/*.mod_custom.*
administrator/components/com_conference/language/*/*.mod_feed.*
administrator/components/com_conference/language/*/*.mod_latest.*
administrator/components/com_conference/language/*/*.mod_logged.*
administrator/components/com_conference/language/*/*.mod_login.*
administrator/components/com_conference/language/*/*.mod_menu.*
administrator/components/com_conference/language/*/*.mod_multilangstatus.*
administrator/components/com_conference/language/*/*.mod_popular.*
administrator/components/com_conference/language/*/*.mod_quickicon.*
administrator/components/com_conference/language/*/*.mod_status.*
administrator/components/com_conference/language/*/*.mod_stats_admin.*
administrator/components/com_conference/language/*/*.mod_submenu.*
administrator/components/com_conference/language/*/*.mod_title.*
administrator/components/com_conference/language/*/*.mod_toolbar.*
administrator/components/com_conference/language/*/*.mod_version.*
administrator/components/com_conference/language/*/*.plg_authentication_gmail.*
administrator/components/com_conference/language/*/*.plg_authentication_joomla.*
administrator/components/com_conference/language/*/*.plg_authentication_ldap.*
administrator/components/com_conference/language/*/*.plg_captcha_recaptcha.*
administrator/components/com_conference/language/*/*.plg_content_emailcloak.*
administrator/components/com_conference/language/*/*.plg_content_finder.*
administrator/components/com_conference/language/*/*.plg_content_geshi.*
administrator/components/com_conference/language/*/*.plg_content_joomla.*
administrator/components/com_conference/language/*/*.plg_content_loadmodule.*
administrator/components/com_conference/language/*/*.plg_content_pagebreak.*
administrator/components/com_conference/language/*/*.plg_content_pagenavigation.*
administrator/components/com_conference/language/*/*.plg_content_vote.*
administrator/components/com_conference/language/*/*.plg_editors-xtd_article.*
administrator/components/com_conference/language/*/*.plg_editors-xtd_image.*
administrator/components/com_conference/language/*/*.plg_editors-xtd_pagebreak.*
administrator/components/com_conference/language/*/*.plg_editors-xtd_readmore.*
administrator/components/com_conference/language/*/*.plg_editors_codemirror.*
administrator/components/com_conference/language/*/*.plg_editors_none.*
administrator/components/com_conference/language/*/*.plg_editors_tinymce.*
administrator/components/com_conference/language/*/*.plg_extension_joomla.*
administrator/components/com_conference/language/*/*.plg_finder_categories.*
administrator/components/com_conference/language/*/*.plg_finder_contacts.*
administrator/components/com_conference/language/*/*.plg_finder_content.*
administrator/components/com_conference/language/*/*.plg_finder_newsfeeds.*
administrator/components/com_conference/language/*/*.plg_finder_weblinks.*
administrator/components/com_conference/language/*/*.plg_finder_tags.*
administrator/components/com_conference/language/*/*.plg_quickicon_extensionupdate.*
administrator/components/com_conference/language/*/*.plg_quickicon_joomlaupdate.*
administrator/components/com_conference/language/*/*.plg_search_categories.*
administrator/components/com_conference/language/*/*.plg_search_contacts.*
administrator/components/com_conference/language/*/*.plg_search_content.*
administrator/components/com_conference/language/*/*.plg_search_newsfeeds.*
administrator/components/com_conference/language/*/*.plg_search_weblinks.*
administrator/components/com_conference/language/*/*.plg_system_cache.*
administrator/components/com_conference/language/*/*.plg_system_debug.*
administrator/components/com_conference/language/*/*.plg_system_highlight.*
administrator/components/com_conference/language/*/*.plg_system_languagecode.*
administrator/components/com_conference/language/*/*.plg_system_languagefilter.*
administrator/components/com_conference/language/*/*.plg_system_log.*
administrator/components/com_conference/language/*/*.plg_system_logout.*
administrator/components/com_conference/language/*/*.plg_system_p3p.*
administrator/components/com_conference/language/*/*.plg_system_redirect.*
administrator/components/com_conference/language/*/*.plg_system_remember.*
administrator/components/com_conference/language/*/*.plg_system_sef.*
administrator/components/com_conference/language/*/*.plg_user_contactcreator.*
administrator/components/com_conference/language/*/*.plg_user_joomla.*
administrator/components/com_conference/language/*/*.plg_user_profile.*
administrator/components/com_conference/language/*/*.plg_authentication_cookie.*
administrator/components/com_conference/language/*/*.plg_installer_webinstaller.*
administrator/components/com_conference/language/*/*.plg_twofactorauth_totp.*
administrator/components/com_conference/language/*/*.plg_twofactorauth_yubikey.*
administrator/components/com_conference/language/*/*.tpl_bluestork.*
administrator/components/com_conference/language/*/*.tpl_hathor.*
administrator/components/com_conference/language/*/*.tpl_isis.*
administrator/components/com_conference/language/*/*.plg_jmonitoring_akeebabackup.*
administrator/components/com_conference/language/*/*.com_akeeba.*
administrator/components/com_conference/language/*/*.com_akeeba.ini
administrator/components/com_conference/language/*/*.xml
administrator/components/com_conference/language/index.html
administrator/components/com_conference/language/overrides/*
administrator/manifests/*
administrator/modules/index.html
administrator/modules/mod_custom/*
administrator/modules/mod_feed/*
administrator/modules/mod_latest/*
administrator/modules/mod_logged/*
administrator/modules/mod_login/*
administrator/modules/mod_menu/*
administrator/modules/mod_multilangstatus/*
administrator/modules/mod_online/*
administrator/modules/mod_popular/*
administrator/modules/mod_quickicon/*
administrator/modules/mod_stats_admin/*
administrator/modules/mod_status/*
administrator/modules/mod_submenu/*
administrator/modules/mod_title/*
administrator/modules/mod_toolbar/*
administrator/modules/mod_unread/*
administrator/modules/mod_version/*
administrator/templates/bluestork/*
administrator/templates/hathor/*
administrator/templates/index.html
administrator/templates/isis/*
administrator/templates/khepri/*
administrator/templates/system/*
bin/*
build/*
cache/*
CHANGELOG.php
cli/*
components/com_ajax/*
components/com_config/*
components/com_banners/*
components/com_contact/*
components/com_content/*
components/com_finder/*
components/com_mailto/*
components/com_media/*
components/com_newsfeeds/*
components/com_contenthistory/*
components/com_poll/*
components/com_search/*
components/com_tags/*
components/com_user/*
components/com_users/*
components/com_weblinks/*
components/com_wrapper/*
components/com_akeeba/*
components/index.html
configuration.php
configuration.php-dist
CONTRIBUTING.md
COPYRIGHT.php
CREDITS.php
htaccess.txt
images/*
includes/*
index.php
index2.php
INSTALL.php
installation/*
joomla.xml
language/en-GB/en-GB.ini
language/nl-NL/nl-NL.ini
language/*/*.com_banners.*
language/*/*.com_contact.*
language/*/*.com_content.*
language/*/*.com_finder.*
language/*/*.com_frontpage.*
language/*/*.com_mailto.*
language/*/*.com_media.*
language/*/*.com_messages.*
language/*/*.com_newsfeeds.*
language/*/*.com_poll.*
language/*/*.com_search.*
language/*/*.com_user.*
language/*/*.com_ajax.*
language/*/*.com_config.*
language/*/*.com_users.*
language/*/*.com_weblinks.*
language/*/*.com_wrapper.*
language/*/*.com_tags.*
language/*/*.com_akeeba.*
language/*/*.files_joomla.*
language/*/*.finder_cli.*
language/*/*.ignore.php
language/*/*.lib_joomla.*
language/*/*.lib_joomla.*
language/*/*.lib_phpmailer.*
language/*/*.lib_phputf8.*
language/*/*.lib_simplepie.*
language/*/*.localise.php
language/*/*.mod_archive.*
language/*/*.mod_articles_archive.*
language/*/*.mod_articles_archive.*
language/*/*.mod_articles_categories.*
language/*/*.mod_articles_categories.*
language/*/*.mod_articles_category.*
language/*/*.mod_articles_category.*
language/*/*.mod_articles_latest.*
language/*/*.mod_articles_latest.*
language/*/*.mod_articles_news.*
language/*/*.mod_articles_news.*
language/*/*.mod_articles_popular.*
language/*/*.mod_articles_popular.*
language/*/*.mod_banners.*
language/*/*.mod_banners.*
language/*/*.mod_breadcrumbs.*
language/*/*.mod_breadcrumbs.*
language/*/*.mod_custom.*
language/*/*.mod_custom.*
language/*/*.mod_feed.*
language/*/*.mod_feed.*
language/*/*.mod_finder.*
language/*/*.mod_finder.*
language/*/*.mod_footer.*
language/*/*.mod_footer.*
language/*/*.mod_languages.*
language/*/*.mod_languages.*
language/*/*.mod_latestnews.*
language/*/*.mod_login.*
language/*/*.mod_login.*
language/*/*.mod_mainmenu.*
language/*/*.mod_menu.*
language/*/*.mod_menu.*
language/*/*.mod_mostread.*
language/*/*.mod_newsflash.*
language/*/*.mod_online.*
language/*/*.mod_poll.*
language/*/*.mod_random_image.*
language/*/*.mod_random_image.*
language/*/*.mod_related_items.*
language/*/*.mod_related_items.*
language/*/*.mod_search.*
language/*/*.mod_search.*
language/*/*.mod_sections.*
language/*/*.mod_stats.*
language/*/*.mod_stats.*
language/*/*.mod_syndicate.*
language/*/*.mod_syndicate.*
language/*/*.mod_users_latest.*
language/*/*.mod_users_latest.*
language/*/*.mod_weblinks.*
language/*/*.mod_weblinks.*
language/*/*.mod_whosonline.*
language/*/*.mod_whosonline.*
language/*/*.mod_wrapper.*
language/*/*.mod_wrapper.*
language/*/*.pkg_joomla.*
language/*/*.plg_content_pagebreak.*
language/*/*.plg_content_vote.*
language/*/*.plg_search_categories.*
language/*/*.plg_search_contacts.*
language/*/*.plg_search_content.*
language/*/*.plg_search_newsfeeds.*
language/*/*.plg_search_sections.*
language/*/*.plg_search_weblinks.*
language/*/*.plg_system_debug.*
language/*/*.tpl_atomic.*
language/*/*.tpl_atomic.*
language/*/*.lib_fof.*
language/*/*.tpl_beez.*
language/*/*.tpl_beez3.*
language/*/*.tpl_beez3.*
language/*/*.tpl_beez5.*
language/*/*.tpl_beez5.*
language/*/*.tpl_beez_20.*
language/*/*.tpl_beez_20.*
language/*/*.tpl_ja_purity.*
language/*/*.tpl_protostar.*
language/*/*.tpl_protostar.*
language/*/*.tpl_rhuk_milkyway.*
language/*/*.lib_idna_convert.*
language/*/*.mod_tags_popular.*
language/*/*.mod_tags_similar.*
language/*/*.xml
language/*/index.html
language/index.html
language/overrides/*
language/pdf_fonts/freesans.ctg.z
language/pdf_fonts/freesans.php
language/pdf_fonts/freesans.z
language/pdf_fonts/freesansb.php
language/pdf_fonts/freesansbi.php
language/pdf_fonts/freesansbold.ctg.z
language/pdf_fonts/freesansbold.z
language/pdf_fonts/freesansboldoblique.ctg.z
language/pdf_fonts/freesansboldoblique.z
language/pdf_fonts/freesansi.php
language/pdf_fonts/freesansoblique.ctg.z
language/pdf_fonts/freesansoblique.z
language/pdf_fonts/index.html
layouts/index.html
layouts/joomla/index.html
layouts/joomla/sidebars/index.html
layouts/joomla/sidebars/submenu.php
layouts/joomla/*
layouts/libraries/*
libraries/bitfolge/*
libraries/cms.php
libraries/cms/*
libraries/compat/*
libraries/idna_convert/*
libraries/domit/*
libraries/fof/*
libraries/phpass/*
libraries/geshi/*
libraries/framework/*
libraries/import.legacy.php
libraries/import.php
libraries/index.html
libraries/joomla/*
libraries/legacy/*
libraries/loader.php
libraries/openid/*
libraries/pattemplate/*
libraries/pear/*
libraries/phpgacl/*
libraries/phpinputfilter/*
libraries/phpmailer/*
libraries/phputf8/*
libraries/phpxmlrpc/*
libraries/platform.php
libraries/simplepie/*
libraries/tcpdf/*
LICENSE.php
LICENSE.txt
LICENSES.php
logs/*
media/cms/css/*
media/cms/index.html
media/com_finder/*
media/com_banners/*
media/com_contenthistory/*
media/com_joomlaupdate/*
media/contacts/*
media/editors/*
media/foundry/*
media/index.html
media/jui/*
media/mailto/*
media/media/*
media/mod_languages/*
media/overrider/*
media/plg_quickicon_extensionupdate/*
media/plg_quickicon_joomlaupdate/*
media/plg_system_highlight/*
media/system/*
media/akeeba_strapper/*
media/com_akeeba/*
modules/index.html
modules/mod_archive/*
modules/mod_articles_archive/*
modules/mod_articles_categories/*
modules/mod_articles_category/*
modules/mod_articles_latest/*
modules/mod_articles_news/*
modules/mod_articles_popular/*
modules/mod_banners/*
modules/mod_breadcrumbs/*
modules/mod_custom/*
modules/mod_feed/*
modules/mod_finder/*
modules/mod_footer/*
modules/mod_languages/*
modules/mod_latestnews/*
modules/mod_login/*
modules/mod_mainmenu/*
modules/mod_menu/*
modules/mod_mostread/*
modules/mod_newsflash/*
modules/mod_poll/*
modules/mod_random_image/*
modules/mod_related_items/*
modules/mod_search/*
modules/mod_sections/*
modules/mod_stats/*
modules/mod_syndicate/*
modules/mod_tags_popular/*
modules/mod_tags_similar/*
modules/mod_users_latest/*
modules/mod_weblinks/*
modules/mod_whosonline/*
modules/mod_wrapper/*
packages/*
phpunit.xml.dist
plugins/authentication/example.php
plugins/authentication/example.xml
plugins/authentication/example/*
plugins/authentication/gmail.php
plugins/authentication/gmail.xml
plugins/authentication/gmail/*
plugins/authentication/cookie/*
plugins/authentication/index.html
plugins/authentication/joomla.php
plugins/authentication/joomla/*
plugins/authentication/ldap.php
plugins/authentication/ldap.xml
plugins/authentication/ldap/*
plugins/authentication/openid.php
plugins/authentication/openid.xml
plugins/captcha/index.html
plugins/captcha/recaptcha/*
plugins/content/emailcloak.php
plugins/content/emailcloak.xml
plugins/content/emailcloak/*
plugins/content/example.php
plugins/content/example.xml
plugins/content/example/*
plugins/content/finder/*
plugins/content/geshi.php
plugins/content/geshi.xml
plugins/content/geshi/*
plugins/content/index.html
plugins/content/joomla/*
plugins/content/loadmodule.php
plugins/content/loadmodule.xml
plugins/content/loadmodule/*
plugins/content/pagebreak.php
plugins/content/pagebreak.xml
plugins/content/pagebreak/*
plugins/content/pagenavigation.php
plugins/content/pagenavigation.xml
plugins/content/pagenavigation/*
plugins/content/vote.php
plugins/content/vote.xml
plugins/content/vote/*
plugins/editors-xtd/article/*
plugins/editors-xtd/image.php
plugins/editors-xtd/image.xml
plugins/editors-xtd/image/*
plugins/editors-xtd/index.html
plugins/editors-xtd/pagebreak.php
plugins/editors-xtd/pagebreak.xml
plugins/editors-xtd/pagebreak/*
plugins/editors-xtd/readmore.php
plugins/editors-xtd/readmore.xml
plugins/editors-xtd/readmore/*
plugins/editors/codemirror/*
plugins/editors/index.html
plugins/editors/none.php
plugins/editors/none.xml
plugins/editors/none/*
plugins/editors/redactorjs.php
plugins/editors/redactorjs_15.xml
plugins/editors/tinymce.php
plugins/editors/tinymce.xml
plugins/editors/tinymce/*
plugins/editors/xstandard.php
plugins/editors/xstandard.xml
plugins/editors/xstandard/*
plugins/extension/example/*
plugins/extension/index.html
plugins/extension/joomla/*
plugins/finder/categories/*
plugins/finder/contacts/*
plugins/finder/content/*
plugins/finder/index.html
plugins/finder/newsfeeds/*
plugins/finder/weblinks/*
plugins/finder/tags/*
plugins/index.html
plugins/quickicon/extensionupdate/*
plugins/quickicon/index.html
plugins/quickicon/joomlaupdate/*
plugins/search/categories.php
plugins/search/categories.xml
plugins/search/categories/*
plugins/search/contacts.php
plugins/search/contacts.xml
plugins/search/contacts/*
plugins/search/content.php
plugins/search/content.xml
plugins/search/content/*
plugins/search/index.html
plugins/search/newsfeeds.php
plugins/search/newsfeeds.xml
plugins/search/newsfeeds/*
plugins/search/sections.php
plugins/search/sections.xml
plugins/search/weblinks.php
plugins/search/weblinks.xml
plugins/search/weblinks/*
plugins/system/backlink.php
plugins/system/backlink.xml
plugins/system/cache.php
plugins/system/cache.xml
plugins/system/cache/*
plugins/system/debug.php
plugins/system/debug.xml
plugins/system/debug/*
plugins/system/highlight/*
plugins/system/index.html
plugins/system/languagecode/*
plugins/system/languagefilter/*
plugins/system/legacy.php
plugins/system/legacy.xml
plugins/system/legacy/*
plugins/system/log.php
plugins/system/log.xml
plugins/system/log/*
plugins/system/logout/*
plugins/system/mtupgrade.php
plugins/system/mtupgrade.xml
plugins/system/mtupgrade/*
plugins/system/p3p/*
plugins/twofactorauth/index.html
plugins/twofactorauth/totp/*
plugins/twofactorauth/yubikey/*
plugins/system/redirect/*
plugins/system/remember.php
plugins/system/remember.xml
plugins/system/remember/*
plugins/system/sef.php
plugins/system/sef.xml
plugins/system/sef/*
plugins/user/contactcreator/*
plugins/user/example.php
plugins/user/example.xml
plugins/user/example/*
plugins/user/index.html
plugins/user/joomla.php
plugins/user/joomla/*
plugins/user/profile/*
plugins/xmlrpc/blogger.php
plugins/xmlrpc/blogger.xml
plugins/xmlrpc/index.html
plugins/xmlrpc/joomla.php
plugins/jmonitoring/akeebabackup/*
README.txt
robots.txt
robots.txt.dist
templates/atomic/*
templates/beez/*
templates/beez3/*
templates/beez5/*
templates/beez_20/*
templates/index.html
templates/ja_purity/*
templates/protostar/*
templates/rhuk_milkyway/*
templates/system/*
tmp/*
web.config.txt
xmlrpc/client.php